:root {
    --primary-color: #6A0DAD;   /* Morado principal */
    --secondary-color: #8A2BE2; /* Violeta brillante */
    --accent-color: #E43F5A;    /* Rojo vibrante para detalles */
    --contrast-color: #2D2E72;  /* Azul profundo para contrastes */
    --background-color: #1E1E2E; /* Fondo oscuro elegante */
    --text-color: #E0E0E0; 
    --golden: #f7e476;     /* Blanco suave para legibilidad */
}

.author{
    flex: 9;
}
.authorWrapper{
    display: flex;
    align-items: flex-start; /* Alinea elementos verticalmente en la parte superior */
    padding: 20px;
    padding-right: 0;
    color: white;
}

.authorImg{
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    border-radius: 5px;
    flex: 1; /* Ocupa espacio proporcional en la izquierda */
    margin-right: 20px; /* Espacio entre la imagen y el contenido */
}
.authorName{

    text-align: center;
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
}

.authorName, .authorBio{
    flex: 2,
}

.authorDates{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--golden);
    font-family: "Varela", sans-serif;
    
}

.authorbio{
    color: var(--text-color);
    font-family: "Lora", serif;
    font-size:18px ;
    line-height: 25px;
    white-space: pre-wrap; /* Mantiene los saltos de línea en el texto */
    margin-left: 0px;
}
.authorbio::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
